<div class="sidebar">
    <div class="sidebar-header">
        <h3><i class="bi bi-speedometer2"></i> 管理系统</h3>
    </div>
    
    <ul class="sidebar-menu">
        <li><a href="index.html"><i class="bi bi-house"></i> 控制面板</a></li>
        <li><a href="news.html"><i class="bi bi-newspaper"></i> 新闻管理</a></li>
        <li><a href="files.html"><i class="bi bi-folder"></i> 文件管理</a></li>
        <li><a href="teachers.html"><i class="bi bi-people"></i> 青年委员会</a></li>
        <li><a href="settings.html"><i class="bi bi-gear"></i> 系统设置</a></li>
    </ul>
</div>